# R & RStudio files
*.Rproj
.Rproj.user
.Rhistory
.Rdata

# ignore datasets if too large (> 100 MB)
# specify pathway to dataset ./data/project_dataset.csv
# if all datasets are too large then use ./data/*.csv (only ignores CSVs)
# if you have other file types then use appropriate extension ./data/*.rds

# mac related files
.DS_Store
**/.DS_Store

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
results/boosted_tree.rda
results/boosted_tree_2.rda
results/rf.rda
results/rf_2.rda
.git/objects/6a/68bb9faabea9498f09c20574cc106053b5530e
.git/objects/ad/f229965f9f3b3ac41b96c385b6d546b88b61d0
.git/objects/16/6d5e8c2052b927428f82560b266d4e11ba9cec
.git/objects/c2/a9985302e59e687a5dc84e242c2ae0736b5e9d
results/boosted_tree.rda
results/boosted_tree_2.rda
results/rf.rda
results/rf_2.rda
.git/objects/6a/68bb9faabea9498f09c20574cc106053b5530e
.git/objects/ad/f229965f9f3b3ac41b96c385b6d546b88b61d0
.git/objects/16/6d5e8c2052b927428f82560b266d4e11ba9cec
.git/objects/c2/a9985302e59e687a5dc84e242c2ae0736b5e9d
results/model_set.rda
results/rf_2.rda
.git/objects/6a/68bb9faabea9498f09c20574cc106053b5530e
.git/objects/ad/f229965f9f3b3ac41b96c385b6d546b88b61d0
.git/objects/pack/pack-5276503959ec20c67ee13f6d89f90ee7f3cc61a9.pack
.git/objects/16/6d5e8c2052b927428f82560b266d4e11ba9cec
.git/objects/c2/a9985302e59e687a5dc84e242c2ae0736b5e9d
plots/rf_r2.png
